<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FinancialAccountMapper">

    <select id="selectAll" resultType="com.example.entity.FinancialAccount">

-- 		SELECT fa.*, u.`name` AS userName
-- 		FROM `financial_account` fa
-- 		LEFT JOIN `user` u ON fa.`user_id` = u.`id`
		select `financial_account`.*, `user`.`name` as userName from `financial_account`
		left join `user` on `financial_account`.`user_id` = `user`.id

        <where>
			<if test="userName != null and userName != ''">
				and `user`.`name` like concat ('%', #{userName}, '%')
			</if>
			<if test="type != null and type != ''">
				and `financial_account`.`type` like concat ('%', #{type}, '%')
			</if>
			<if test="time != null and time != ''">
				and `financial_account`.`time` like concat ('%', #{time}, '%')
			</if>
			<if test="userId != null">
				and `financial_account`.`user_id` = #{userId}
			</if>

        </where>
    </select>

    <select id="selectById" resultType="com.example.entity.FinancialAccount">
        select * from financial_account where id = #{id}
    </select>

    <delete id="deleteById">
        delete from financial_account where  id = #{id}
    </delete>

</mapper>