<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.HealthInfMapper">

    <select id="selectById" resultType="com.example.entity.HealthInf">
        SELECT * FROM health_inf WHERE user_id = #{userId}
    </select>

    <update id="updateById">
        UPDATE health_inf
        SET height = #{height},
            weight = #{weight}
        WHERE user_id = #{userId}
    </update>


</mapper>